<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.5.0/axios.min.js"
        integrity="sha512-aoTNnqZcT8B4AmeCFmiSnDlc4Nj/KPaZyB5G7JnOnUEkdNpCZs1LCankiYi01sLTyWy+m2P+W4XM+BuQ3Q4/Dg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">


    <style>
        .login-container {
            position: relative;
            height: 1000px;
            box-sizing: border-box;
        }

        .v-centered {
            top: 50%;
            margin-left: auto;
            margin-right: auto;
            width: 24em;
        }

        .border-1px {
            border: 1px collapse
        }
    </style>
</head>

<body>
    <div id="app">
        <v-app>
            <div>
                <div class="login-container" v-if="!token">
                    <v-sheet class="bg-deep-purple pa-12" rounded>
                        <v-card class="mx-auto px-6 py-8" max-width="344">
                            <v-text-field v-model="username" :readonly="loading" :rules="[required]" class="mb-2" clearable
                                label="Username"></v-text-field>

                            <v-text-field v-model="password" :readonly="loading" :rules="[required]" clearable
                                type="password" label="Password" placeholder="Enter your password"
                                @keyup.enter="auth"></v-text-field>

                            <br>

                            <v-btn :disabled="username && !password" :loading="loading" block color="success" size="large"
                                type="submit" variant="elevated" @click="auth">
                                Sign In
                            </v-btn>
                        </v-card>
                    </v-sheet>
                </div>

            </div>


            <div v-if="token" style="margin-left: auto; margin-right:auto ; width: 50%; margin-top: 25px">
                <v-card class="mx-auto" variant="outlined">
                    <v-card-title>
                        Добавить ПАСТУ
                        <v-spacer></v-spacer>
                        <v-btn @click="darkTheme = !darkTheme">цвет</v-btn>
                        <v-btn class="ml-3" color="error" @click="logout">logout</v-btn>
                    </v-card-title>
                    <v-card-text>
                        <v-text-field variant="outlined" label="channel" v-model="currentPasteChannel"></v-text-field>
                        <v-text-field variant="outlined" label="author" v-model="currentPasteAuthor"></v-text-field>
                        <v-text-field variant="outlined" label="weight" v-model="currentPasteWeight"></v-text-field>
                        <div style="width: 35em;">
                            <v-textarea rows="5" :auto-grow="true" variant="outlined" label="pasta itself"
                                v-model="currentPasteContent"></v-textarea>
                        </div>
                    </v-card-text>
                    <v-card-actions>

                        <v-spacer></v-spacer>
                        <v-btn @click="submitPaste">давануть</v-btn>
                    </v-card-actions>
                </v-card>

                <div v-if="token" class="mx-auto pt-25">
                        <v-card v-for="(item, index) in pasteList" :key="index" class="pt-5 mt-5">
                            <v-card-title>Автор: {{item.author ? item.author : '[no author]'}}</v-card-title>
                            <v-card-subtitle>Вес: {{item.weight}} </v-card-subtitle>

                            <div style="width: 35em">
                                <v-textarea class="pl-5" :auto-grow="true" variant="tonal"
                                    v-model="item.content"></v-textarea>
                            </div>

                            <v-card-actions>
                                <v-btn color="error" @click="deletePaste(item, index)">удолить</v-btn>
                                <v-spacer></v-spacer>
                                <v-btn @click="send(item, index)" color="green">Давануть</v-btn>
                                <v-btn @click="update(item, index)" color="primary">обновить</v-btn>
                            </v-card-actions>
                        </v-card>
                </div>
            </div>

            <template>
                <div class="text-center">
                    <v-dialog v-model="sendPasteConfirmationDialog" width="50%">
                        <v-card>
                            <v-card-title>Подтверди выдавливание пасты №{{selectedPasteItem.id}}</v-card-title>
                            <v-card-subtitle>
                                Автор: {{selectedPasteItem.author}}, вес: {{selectedPasteItem.weight}}
                            </v-card-subtitle>
                            <v-card-text>
                                <div style="width: 35em">
                                    <v-textarea :auto-grow="true" variant="tonal"
                                        v-model="selectedPasteItem.content"></v-textarea>
                                </div>
                            </v-card-text>
                            <v-card-actions>
                                <v-btn color="error" @click="sendPasteConfirmationDialog = false">закрыть</v-btn>
                                <v-spacer></v-spacer>
                                <v-btn color="green" @click="confirmSend">Реально давануть</v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>
                </div>
            </template>
        </v-app>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
</body>
<script>
    vue = new Vue({
        el: '#app',
        vuetify: new Vuetify(),
        data: () => ({
            username: '',
            password: '',
            token: '',
            loading: false,
            currentPasteChannel: '',
            currentPasteAuthor: '',
            currentPasteWeight: '1000',
            currentPasteContent: '',
            darkTheme: true,
            pasteList: [{ author: 'template', weight: 0, content: 'template' }],
            pasteListCard: 0,
            sendPasteConfirmationDialog: false,
            selectedPasteIndex: 0,
            selectedPasteItem: {}
        }),
        methods: {
            send(item, index) {
                this.selectedPasteIndex = index
                this.selectedPasteItem = item
                this.sendPasteConfirmationDialog = true
            },
            async confirmSend() {
                let result = await this.request('/paste/send', { id: this.selectedPasteItem.id })
                if (!result.error) {
                    this.selectedPasteIndex = 0
                    this.selectedPasteItem = {}
                    this.sendPasteConfirmationDialog = false
                }
            },
            required(v) {
                return !!v || 'Field is required'
            },
            async request(uri, body = {}) {
                this.loading = true
                let config = {
                    headers: {
                        'x-access-token': this.token
                    }
                }
                return new Promise(resolve => {
                    axios.post(uri, body, config)
                        .then(response => {
                            this.loading = false
                            resolve(response.data)

                            if (response.data.result == null && response.data.error == 'authorization required') {
                                this.token = ''
                            }
                        })
                })
            },
            async auth() {
                let authdata = await this.request('/authorize', {
                    username: this.username,
                    password: this.password
                })
                this.password = ''

                localStorage.setItem('username', authdata.username)
                localStorage.setItem('token', authdata.token)
                this.token = authdata.token
                this.loadPasteList()
            },

            logout() {
                localStorage.removeItem('username')
                localStorage.removeItem('token')
                localStorage.removeItem('theme')
                this.username = ''
                this.token = ''
                this.darkTheme = false
            },

            async submitPaste() {
                let body = {
                    channel: this.currentPasteChannel,
                    author: this.currentPasteAuthor,
                    weight: this.currentPasteWeight,
                    content: this.currentPasteContent
                }

                let reply = await this.request('/paste/new', body)
                if (reply.result) {
                    this.pasteList.push({
                        author: this.currentPasteAuthor,
                        weight: this.currentPasteWeight,
                        content: this.currentPasteContent,
                        channel: this.currentPasteChannel ? this.currentPasteChannel : null
                    })
                    this.currentPasteContent = ''

                }
            },

            async loadPasteList() {
                let reply = await this.request('/paste/list')
                this.pasteList = reply.result
                return reply

            },

            async deletePaste(item, index) {
                let result = await this.request('paste/delete', { id: item.id })
                if (result.result == true) {
                    this.pasteList = this.pasteList.filter((arrayItem) => {
                        if (item.id != arrayItem.id) return arrayItem
                    })
                }
            },

            async update(item) {
                let result = await this.request('/paste/update', { id: item.id, content: item.content })
            }
        },
        watch: {
            darkTheme(newValue, oldValue) {
                if (newValue == oldValue) return
                this.$vuetify.theme = { dark: newValue }
                localStorage.setItem('theme', newValue ? 1 : 0)
            }
        },
        beforeMount() {
            let token = localStorage.getItem('token')
            let username = localStorage.getItem('username')
            if (token && username && username != 'undefined') {
                
                this.token = token
                this.username = username
                this.currentPasteAuthor = username
            }

            this.darkTheme = localStorage.getItem('theme') == 1 ? true : false
            this.$vuetify.theme = { dark: this.darkTheme }

        },

        mounted() {
            this.loadPasteList()
            this.request('/paste/channellist').then(resp => {
                this.currentPasteChannel = resp[0] ?? ''
            })
        }
    })
    Vue.use(Vuetify, {
        theme: {
            primary: '#C0D8D8',
            secondary: '#D8F0F0',
            accent: '#303030',
            error: '#F72A38',
            warning: '#F5E582',
            info: '#F0F0F0',
            success: '#789078',
        }
    })
</script>

</html>