<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.5.0/axios.min.js"
        integrity="sha512-aoTNnqZcT8B4AmeCFmiSnDlc4Nj/KPaZyB5G7JnOnUEkdNpCZs1LCankiYi01sLTyWy+m2P+W4XM+BuQ3Q4/Dg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <script src="https://unpkg.com/vue-cookies@1.5.12/vue-cookies.js"></script>


    <style>
        .login-container {
            position: relative;
            height: 1000px;
            box-sizing: border-box;
        }

        .v-centered {
            top: 50%;
            margin-left: auto;
            margin-right: auto;
            width: 24em;
        }

        .border-1px {
            border: 1px collapse
        }
    </style>
</head>

<body>
    <div id="app">
        <v-app>
            <div>
                <div class="login-container" v-if="!token">
                    <v-sheet class="bg-deep-purple pa-12" rounded>
                        <v-card class="mx-auto px-6 py-8" max-width="344">
                            <v-text-field v-model="login" :readonly="loading" :rules="[required]" class="mb-2" clearable
                                label="Login"></v-text-field>

                            <v-text-field v-model="password" :readonly="loading" :rules="[required]" clearable
                                type="password" label="Password" placeholder="Enter your password"></v-text-field>

                            <br>

                            <v-btn :disabled="login && !password" :loading="loading" block color="success" size="large"
                                type="submit" variant="elevated" @click="auth">
                                Sign In
                            </v-btn>
                        </v-card>
                    </v-sheet>
                </div>
            </div>


            <div v-if="token" style="margin-left: auto; margin-right:auto ; width: 50%; margin-top: 25px">
                <div>
                    <v-card>
                        <v-card-title>{{login}}</v-card-title>
                        <v-card-text>
                            <v-row>
                                <v-col cols="3">
                                    <v-text-field v-model="timerValue" label="Период" outlined></v-text-field>
                                </v-col>
                                <v-col cols="1">
                                    <v-btn x-large color="primary" @click="updateTimer">Update</v-btn>
                                </v-col>
                                <v-spacer></v-spacer>
                            </v-row>
                        </v-card-text>
                    </v-card>

                    <v-btn block class="my-2" color="primary" @click="newPastaBlock">new pasta</v-btn>

                    <v-card v-for="item in pasteList" :key="item.id" class="my-2">
                        <v-card-text>
                            <v-textarea v-model="item.pasta"></v-textarea>
                        </v-card-text>
                        <v-card-actions>
                            <v-btn v-if="!item.new" small color="error" @click="deletePasta(item)">Delete</v-btn>
                            <v-spacer></v-spacer>
                            <v-btn v-if="!item.new" small color="primary" @click="updatePasta(item)">Update</v-btn>
                            <v-btn v-else           small color="primary" @click="createPasta(item)">Create</v-btn>
                        </v-card-actions>
                    </v-card>
                </div>
            </div>
        </v-app>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
</body>
<script>
    vue = new Vue({
        el: '#app',
        vuetify: new Vuetify(),
        data: () => ({
            login: '',
            password: '',
            token: '',
            loading: false,
            darkTheme: true,
            timerValue: 0,
            pasteList: [
                {
                    id: 1,
                    channel: 'xelagray',
                    pasta: 'test pasta 1'
                },
                {
                    id: 2,
                    channel: 'xelagray',
                    pasta: 'test pasta 2'
                },
                {
                    id: 4,
                    channel: 'xelagray',
                    pasta: 'test pasta 3'
                }
            ]
        }),
        methods: {
            required(v) {
                return !!v || 'Field is required'
            },
            async request(uri, body = {}) {
                this.loading = true
                let config = {
                    headers: {
                        'x-access-token': this.token
                    }
                }
                return new Promise(resolve => {
                    axios.post(uri, body, config)
                        .then(response => {
                            this.loading = false
                            resolve(response.data)

                            if (response.data.result == null && response.data.error == 'authorization required') {
                                this.token = ''
                            }
                        })
                })
            },
            async auth() {
                let authdata = await this.request('/login', {
                    login: this.login,
                    pwd: this.password
                })
                this.password = ''

                $cookies.set('login', authdata.login)
                $cookies.set('token', authdata.token)
                this.token = authdata.token
                this.getTimerList()
                this.getPasteInterval()
            },
            async updateTimer() {
                
            },
            async updatePasta(item) {
                let result = await this.request('/timerUpdate', item)
                this.getTimerList()
            },
            async createPasta(item) {
                let result = await this.request('/timerAdd', item)
                this.getTimerList()
            },

            async deletePasta(item) {
                let result = await this.request('/timerDelete', {id: item.id})
                this.getTimerList()
            },
            async getTimerList() {
                let result = await this.request('/timerList', {channel: this.login})
                if (!result.error) {
                    this.pasteList = result.result
                }
            },
            async getPasteInterval() {
                //let result = await this.request('/timerGetUpdateInterval', {channel: this.login})
            },
            newPastaBlock() {
                this.pasteList.push({
                    id: Math.floor(Math.random() * 100000),
                    channel: this.login,
                    pasta: '',
                    new: true
                })
            }
        },
        watch: {
            darkTheme(newValue, oldValue) {
                if (newValue == oldValue) return
                this.$vuetify.theme = { dark: newValue }
                $cookies.set('theme', newValue ? 1 : 0)
            }
        },
        beforeMount() {
            let token = $cookies.get('token')
            let login = $cookies.get('login')
            if (token && login) {
                this.token = token
                this.login = login
                this.currentPasteAuthor = login
            }

            this.darkTheme = $cookies.get('theme') == 1 ? true : false
            this.$vuetify.theme = { dark: this.darkTheme }

        },

        mounted() {
            this.getTimerList()
            this.getPasteInterval()
        }
    })
    Vue.use(Vuetify, {
        theme: {
            primary: '#C0D8D8',
            secondary: '#D8F0F0',
            accent: '#303030',
            error: '#F72A38',
            warning: '#F5E582',
            info: '#F0F0F0',
            success: '#789078',
        }
    })
</script>

</html>